.site-layout-background{
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}


.feedbacks {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
    padding: 0.2rem 0.5rem;
    margin-top: 10px;
	font-size: 1.1rem;
	margin-bottom: 22px;
    transition: .3s;
}

.feedbacks:hover{
    background-color: rgba(255, 51, 51, 0.1);
}
.feedbacks:focus{
    border: 2px solid rgba(255,51,51,0.47);
    background-color: #fff;
}

.form-update{
    width: 500px;
    margin-left: 30%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}
.in-update{
    height: 40px;
    border-radius: 4px;
    color: #000;
    font-size: 15px;
    border-radius: 5px;
}



.tk-card {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size:30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}

.tk-card #info-sp{
    margin: 20px
}

.tk-card span{
    font-size: 16px;
    color: #000;
}

.btn-cancel-ticket{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
}

.modal-cancel-ticket label{
    font-size: 16px;
    margin-bottom: 10px;
}
.in-cancel-ticket{
    width: 90%;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
    padding: 0.2rem 0.5rem;
    margin-top: 10px;
	font-size: 1.1rem;
	margin-bottom: 22px;
    transition: .3s;
}
.in-cancel-ticket:hover{
    background-color: rgba(255, 51, 51, 0.1);
}
.in-cancel-ticket:focus{
    border: 2px solid rgba(255,51,51,0.47);
    background-color: #fff;
}

